body {
	margin: 0;
	padding: 0;
}

#app-frame {
	display: flex;
	height: 100vh;
}

#sidebar {
	background-color: #333;
	color: #fff;
	padding: 20px;
	flex: 1;
}

#sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#sidebar li {
	margin-bottom: 10px;
	cursor: pointer;
}

#sidebar li:hover {
	background-color: #555;
}

#content {
	padding: 20px;
	flex: 4;
}
